<div data-role="header" data-theme="a">
    <h1>NGO Search</h1>
</div>
 <div data-role="main" class="ui-content">
    <h2>Ordered List:</h2>
    <ol data-role="listview">
      <li><a href="#">List Item</a></li>
      <li><a href="#">List Item</a></li>
      <li><a href="#">List Item</a></li>
    </ol>
    <h2>Unordered List:</h2>
    <ul data-role="listview">
      <li><a href="#">List Item</a></li>
      <li><a href="#">List Item</a></li>
      <li><a href="#">List Item</a></li>
    </ul>
  </div> 
